.App {
  text-align: center;
}
body {
  padding: 10px;
}
.main{ 
  border: 1px solid gray;  
  width: 40%;
  margin: 0 auto; 
}
 .chat-uses-wrapper {
  flex: 1;
  display: flex;
}
 
aside, article {
  overflow-y: scroll;
  padding: 2em;
}

.send {
  border-top: 1px solid gray;  
  margin: 4px;
}

.send input {
  margin-top: 5px; 
  width: 80%;
  display: inline;  
} 

.users {
  flex: 1;
}
 
.chat {
  flex: 2;
  height: 400px; 
  overflow: auto;
}

.chat .user {
  color: gray;
}

.users {
  margin: 10px;
  border: 1px solid gray;  

}

.user{
  margin-top: 20px; 
 
}
.user img {
  width: 20px;
}
.user .name{ 
} 
.user .Online {
  color: green;
}

.user .Away {
  color: gray;
}

ul
{
  list-style-type: none;
}